.App {
  text-align: center;
}
.link-o{
    color: white;
    font-size: larger;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.links-1{
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
}
